@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Page Transitions */
.page-transition-enter {
  opacity: 0;
}

.page-transition-enter-active {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}

.page-transition-exit {
  opacity: 1;
}

.page-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

/* Apply faster transitions on mobile */
@media (max-width: 768px) {
  .page-transition-enter-active,
  .page-transition-exit-active {
    transition: opacity 200ms, transform 200ms;
  }
}

@font-face {
  font-family: 'Minecraft';
  src: url('/assets/fonts/Minecraft.ttf') format('truetype');
}

.font-minecraft {
  font-family: 'Minecraft', monospace;
}

@font-face {
  font-family: 'SFPro';
  src: url('/assets/fonts/SFPRO.ttf') format('truetype');
}

.font-sfpro {
  font-family: 'SFPro', monospace;
}

